<nav class="navbar-wrapper">
  <div class="container d-flex align-items-center justify-content-between">
    <div class="logo">
      <mat-icon class=" square me-2">sports_soccer</mat-icon>
      <strong>Action Verse</strong>
    </div>

    <ul class="nav-menu">
      <li class="active">Home</li>
      <li>About</li>
      <li>Pricing Tables</li>
      <li>Blog Entries</li>
      <li>Contact Us</li>
    </ul>

    <button type="button" class="btn-login" data-bs-toggle="modal" data-bs-target="#loginModal">
      Login
    </button>


  </div>
</nav>