.features-section {
  margin-top: -150px;
  padding-bottom: 100px;
  position: relative;
  z-index: 5;
}


.feature-card {
  background: #fff;
  padding: 40px 30px;
  border-radius: 20px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
  position: relative;

  &:hover {
    transform: translateY(-10px);
  }

  .icon-circle {
    width: 70px;
    height: 70px;
    background: #9b5de5;
    color: white;
    border-radius: 50%;
    margin: 0 auto 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
  }

  h5 {
    font-weight: 600;
  }

  p {
    font-size: 14px;
    color: #777;
  }
}
